@import "./colors";
body {
  background-color: $white;
  color: $orange;
  margin: 0px;
}
main {
  margin: 25px 15%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
a:visited {
  color: $red;
}
li {
  margin: 15px 0px;
}